html *,
body *{
    color: #333333;
    font-size:12px;
}

.banner{
    padding:5px 20px 5px 20px;
    font-size:12px;
    background:#333333;
    color:#ffffff;
}

.main-container{
    margin-top:85px;
    border:1px solid #D4D4D4;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius:4px;
}

.main-title{
    border-bottom:1px solid #D4D4D4;
    padding:5px 10px 5px 10px;
    font-weight: bold;
    font-size: 14px;
}

.main-content{
    padding:5px 10px 5px 10px;
    min-height: 300px;
}

.table-thead-center thead th{
    text-align:center;
}

.text-center{
    text-align:center;
}

.form-legend{
    border-bottom:1px solid #CCCCCC;
    margin-bottom:20px; 
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-search-pagination{
    padding:0px;
    margin-bottom:6px;
}

.content-table-scroll{
    border:1px solid #cccccc;
    height: 340px;
    overflow:scroll;
    padding:10px;
    border-radius: 4px;
    
}